# Copyright (c) 2026 CATIE
# SPDX-License-Identifier: Apache-2.0

config SHIELD_ZEST_SECURITY_SECUREELEMENT
	def_bool $(shields_list_contains,zest_security_secureelement)

config SHIELD_ZEST_SECURITY_SECUREELEMENT_INIT_PRIORITY
    int
    default 85
    depends on SHIELD_ZEST_SECURITY_SECUREELEMENT
