/*
 * Copyright (c) 2026, CATIE
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/gpio/sixtron-header.h>

#define PERIPHERAL_ZEST_SECURITY_SECUREELEMENT(port) \
    i2c_zest_security_secureelement_##port: &sixtron_connector_##port##_i2c {}; \
    gpio_zest_security_secureelement_##port: &sixtron_connector_##port {};

#define DRIVERS_ZEST_SECURITY_SECUREELEMENT(port) \
    / { \
        zephyr,user { \
            stsafereset-gpios = <&gpio_zest_security_secureelement_##port DIO1 GPIO_ACTIVE_HIGH>; \
        }; \
    }; \
    &i2c_zest_security_secureelement_##port { \
        status = "okay"; \
        clock-frequency = <I2C_BITRATE_STANDARD>; \
        stsafe_a1xx_##port: stsafe_a1xx@20 { \
            compatible = "st,stsafe-a1xx"; \
            reg = <0x20>; \
        }; \
    };

#define ZEST_SECURITY_SECUREELEMENT(port) \
    PERIPHERAL_ZEST_SECURITY_SECUREELEMENT(port) \
    DRIVERS_ZEST_SECURITY_SECUREELEMENT(port)
